# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - GCtokenempire

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://mcr.microsoft.com/
        username: ${{ secrets.AzureAppService_ContainerUsername_01ef993d41e04f82b7eece14dc1219f7 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_052f3a0526ad42b7b3736d52fd9b1912 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: mcr.microsoft.com/${{ secrets.AzureAppService_ContainerUsername_01ef993d41e04f82b7eece14dc1219f7 }}/appsvc/staticsite:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'GCtokenempire'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_b114a467fcc04565b150b5cf64e0d87f }}
        images: 'mcr.microsoft.com/${{ secrets.AzureAppService_ContainerUsername_01ef993d41e04f82b7eece14dc1219f7 }}/appsvc/staticsite:${{ github.sha }}'